package auth

import (
	"github.com/labstack/echo/v4"
	"github.com/labstack/echo/v4/middleware"
	{{- if and .Config.Ent.Privacy .Config.Ent.Auth}}
	"context"
	"github.com/99designs/gqlgen/graphql/handler/transport"
	{{- end}}
)

func Protected() echo.MiddlewareFunc {
	config := middleware.JWTConfig{
		Claims:     &Claims{},
		SigningKey: []byte("secret"),
	}

	return middleware.JWTWithConfig(config)
}

{{- if and .Config.Ent.Privacy .Config.Ent.Auth}}
func WebSocketInit(ctx context.Context, initPayload transport.InitPayload) (context.Context, error) {
	return ctx, nil
}
{{- end}}