extend type Query {
  {{.Camel .Node.Name}}(id: ID!): {{.Node.Name}}!
}

extend type Mutation {
  create{{.Node.Name}}(input: Create{{.Node.Name}}Input!): {{.Node.Name}}!
  update{{.Node.Name}}(id: ID!, input: Update{{.Node.Name}}Input!): {{.Node.Name}}!
  delete{{.Node.Name}}(id: ID!): {{.Node.Name}}!
}

input {{.Pascals .Node.Name}}QueryInput {
  after: Cursor
  first: Int
  before: Cursor
  last: Int
  orderBy: {{.Node.Name}}Order
  where: {{.Node.Name}}WhereInput
}

extend type Subscription {
  {{.Camels .Node.Name}}(events: [Event!]!, query: {{.Pascals .Node.Name}}QueryInput): {{.Node.Name}}Connection!
  {{.Camel .Node.Name}}(events: [Event!]!, id: ID!): {{.Node.Name}}!
}

