package resolvers

// This file will be automatically regenerated based on the schema, any resolver implementations
// will be copied through when generating and any unknown code will be moved to the end.

import (
	"context"
	"github.com/oklog/ulid/v2"
	{{if .Config.Debug}}
	"log"
	{{end}}
	"{{.Config.Ent.Package}}/auth"
	"{{.Config.Ent.Package}}/ent"
	"{{.Config.Ent.Package}}/graph/models"
)

// {{.Node.Name}} is the resolver for the {{.Node.Name}} field.
func (r *queryResolver) {{.Node.Name}}(ctx context.Context, id int) (*ent.{{.Node.Name}}, error) {
   return r.Client.{{.Node.Name}}.Get(ctx, id)
}

// Create{{.Node.Name}} is the resolver for the create{{.Node.Name}} field.
func (r *mutationResolver) Create{{.Node.Name}}(ctx context.Context, input ent.Create{{.Node.Name}}Input) (*ent.{{.Node.Name}}, error) {
	{{- if .Config.Ent.Graphql.Subscription}}
	entity, err := ent.FromContext(ctx).{{.Node.Name}}.Create().SetInput(input).Save(ctx)

	if err == nil {
      go Notify{{.Node.Name}}Listenners(r, models.EventCreate, entity)
      go Notify{{.Pascals .Node.Name}}Listenners(r, models.EventCreate)
   }
	{{- else}}
	entity := ent.FromContext(ctx).{{.Node.Name}}.Create().SetInput(input).Save(ctx)
	{{- end}}
	return entity, err
}

// Update{{.Node.Name}} is the resolver for the update{{.Node.Name}} field.
func (r *mutationResolver) Update{{.Node.Name}}(ctx context.Context, id int, input ent.Update{{.Node.Name}}Input) (*ent.{{.Node.Name}}, error) {
   {{- if .Config.Ent.Graphql.Subscription}}
	entity, err := ent.FromContext(ctx).{{.Node.Name}}.UpdateOneID(id).SetInput(input).Save(ctx)
   
   if err == nil {
      go Notify{{.Node.Name}}Listenners(r, models.EventUpdate, entity)
      go Notify{{.Pascals .Node.Name}}Listenners(r, models.EventUpdate)
   }
	{{- else}}
	entity := ent.FromContext(ctx).{{.Node.Name}}.UpdateOneID(id).SetInput(input).Save(ctx)
	{{- end}}
   return entity, err
}

// Delete{{.Node.Name}} is the resolver for the delete{{.Node.Name}} field.
func (r *mutationResolver) Delete{{.Node.Name}}(ctx context.Context, id int) (*ent.{{.Node.Name}}, error) {
	{{- if .Config.Ent.Graphql.Subscription}}
	entity, err := r.Client.{{.Node.Name}}.Get(ctx, id)
	if err == nil {
      go Notify{{.Node.Name}}Listenners(r, models.EventDelete, entity)
      go Notify{{.Pascals .Node.Name}}Listenners(r, models.EventDelete)
   }
	{{- else}}
	entity := r.Client.{{.Node.Name}}.Get(ctx, id)
	{{- end}}
	return entity, ent.FromContext(ctx).{{.Node.Name}}.DeleteOneID(id).Exec(ctx)
}

{{- if .Config.Ent.Graphql.Subscription}}
// {{.Pascals .Node.Name}} is the resolver for the {{.Camels .Node.Name}} field.
func (r *subscriptionResolver) {{.Pascals .Node.Name}}(ctx context.Context, events []models.Event, query *models.{{.Pascals .Node.Name}}QueryInput) (<-chan *ent.{{.Node.Name}}Connection, error) {
	clientId := ulid.Make().String()
	events = RemoveDuplicates(events)
	channel := make(chan *ent.{{.Node.Name}}Connection, 1)
	{{if .Config.Debug}}
	log.Printf("ClientID: %s | Events: %v | Type: {{.Pascals .Node.Name}} | Status: Connected", clientId, events)
	{{end}}
	r.{{.Pascals .Node.Name}}ListennersMutext.Lock()
	r.{{.Pascals .Node.Name}}Listenners[clientId] = {{.Pascals .Node.Name}}Listenner{
		Context: ctx,
		Channel: channel,
		Events:   events,
		Query:   query,
	}
	r.{{.Pascals .Node.Name}}ListennersMutext.Unlock()

	
	go func() {
		<-ctx.Done()
		{{if .Config.Debug}}
		log.Printf("ClientID: %s | Events: %v | Type: {{.Pascals .Node.Name}} | Status: Disconnected", clientId, events)
		{{end}}
		r.{{.Pascals .Node.Name}}ListennersMutext.Lock()
		delete(r.{{.Pascals .Node.Name}}Listenners, clientId)
		r.{{.Pascals .Node.Name}}ListennersMutext.Unlock()
	}()

	return channel, nil
}


// {{.Node.Name}} is the resolver for the {{.Node.Name}} field.
func (r *subscriptionResolver) {{.Node.Name}}(ctx context.Context, events []models.Event, id int) (<-chan *ent.{{.Node.Name}}, error) {
	clientId := ulid.Make().String()
	events = RemoveDuplicates(events)
	channel := make(chan *ent.{{.Node.Name}}, 1)
	{{if .Config.Debug}}
	log.Printf("ClientID: %s | Events: %v | Type: {{.Node.Name}} | Status: Connected", clientId, events)
	{{end}}
	r.{{.Node.Name}}ListennersMutext.Lock()
	r.{{.Node.Name}}Listenners[clientId] = {{.Node.Name}}Listenner{
		Context: ctx,
		ID:      id,
		Channel: channel,
		Events:   events,
	}
	r.{{.Node.Name}}ListennersMutext.Unlock()

	go func() {
		<-ctx.Done()
		{{if .Config.Debug}}
		log.Printf("ClientID: %s | Events: %v | Type: {{.Node.Name}} | Status: Disconnected", clientId, events)
		{{end}}
		r.{{.Node.Name}}ListennersMutext.Lock()
		delete(r.{{.Node.Name}}Listenners, clientId)
		r.{{.Node.Name}}ListennersMutext.Unlock()
	}()

	return channel, nil
}

{{- end}}