package resolvers

import (
	"{{.Config.Ent.Package}}/db" 
	"{{.Config.Ent.Package}}/ent"
	"{{.Config.Ent.Package}}/graph/generated"

	"github.com/99designs/gqlgen/graphql"
	
	"sync"
)

// This file will not be regenerated automatically.
//
// It serves as dependency injection for your app, add any dependencies you require here.
{{$g := .}}
type Resolver struct {
	Client *ent.Client
	{{- if .Config.Ent.Graphql.Subscription}}
	{{range .Nodes}}
	{{.Name}}Listenners        		  map[string]{{.Name}}Listenner
	{{.Name}}ListennersMutext 			  sync.Mutex
	{{$g.Pascals .Name}}Listenners       map[string]{{$g.Pascals .Name}}Listenner
	{{$g.Pascals .Name}}ListennersMutext sync.Mutex
	{{end}}
	{{- end}}
}

var schema *graphql.ExecutableSchema

func ExecutableSchema() graphql.ExecutableSchema {
	if schema == nil {
		schema = new(graphql.ExecutableSchema)
		*schema = generated.NewExecutableSchema(generated.Config{Resolvers: &Resolver{
			Client: db.Client,
			{{- if .Config.Ent.Graphql.Subscription}}
			{{range .Nodes}}
			{{.Name}}Listenners:        			make(map[string]{{.Name}}Listenner),
			{{.Name}}ListennersMutext:  			sync.Mutex{},
			{{$g.Pascals .Name}}Listenners:       make(map[string]{{$g.Pascals .Name}}Listenner),
			{{$g.Pascals .Name}}ListennersMutext: sync.Mutex{},
			{{end}}
			{{- end}}
		}})
	}

	return *schema
}
