package resolvers

import (
	"{{.Config.Ent.Package}}/ent"
	"{{.Config.Ent.Package}}/graph/models"
	"context"
)
{{$g := .}}
{{range .Nodes}}
type {{.Name}}Listenner struct {
	Context context.Context
	ID      int
	Events   []models.Event
	Channel chan *ent.{{.Name}}
}

type {{$g.Pascals .Name}}Listenner struct {
	Context context.Context
	Channel chan *ent.{{.Name}}Connection
	Events   []models.Event
	Query   *models.{{$g.Pascals .Name}}QueryInput
}
{{end}}