// Edges of the {{.Name}}.
func ({{.Name}}) Edges() []ent.Edge {
{{"\t"}}return []ent.Edge{
{{- range .Edges}}
{{"\t\t"}}edge.{{.Direction}}("{{.Name}}",{{.Node}}){{.Join .Options "." "."}}{{.Join .Annotations ".Annotations(" ", " ")"}},
{{- end}}
{{"\t"}}}
}