extend type Query {
  {{.Name}}(id: ID!): {{.Name}}!
}

extend type Mutation {
  create{{.Name}}(input: Create{{.Name}}Input!): {{.Name}}!
  update{{.Name}}(id: ID!, input: Update{{.Name}}Input!): {{.Name}}!
  delete{{.Name}}(id: ID!): {{.Name}}!
}

input {{.Pascals .Name}}QueryInput {
  after: Cursor
  first: Int
  before: Cursor
  last: Int
  orderBy: {{.Name}}Order
  where: {{.Name}}WhereInput
}

extend type Subscription {
  {{.Camels .Name}}(event: Event!, query: {{.Pascals .Name}}QueryInput): {{.Name}}Connection!
  {{.Name}}(event: Event!, id: ID!): {{.Name}}!
}