// Fields of the {{.Name}}.
func ({{.Name}}) Fields() []ent.Field {
{{"\t"}}return []ent.Field{
{{- range .Fields}}
{{"\t\t"}}field.{{.Type}}("{{.Name}}"){{.Join .Options "." "."}}{{.Join .Annotations ".Annotations(" ", " ")" }},
{{- end}}
{{"\t"}}}
}