package routes

import (
	"{{.}}/db"
	"{{.}}/handlers"
	"{{.}}/auth"

	"github.com/labstack/echo/v4"
)

func Init(e *echo.Echo) {
	e.POST("/login", auth.Login)

	r := e.Group("/")
	// r.Use(handlers.Protected())
	r.GET("", handlers.PlaygroundHandler())
	r.POST("query", handlers.GraphqlHandlers(db.DB))
	r.Any("subscriptions", handlers.GraphqlWsHandler(db.DB))
	r.GET("ws", handlers.PlaygroundWsHandler())
}