package routes

import (
	"{{.Config.Ent.Package}}/handlers"
	"{{.Config.Ent.Package}}/auth"

	"github.com/labstack/echo/v4"
)

func Init(e *echo.Echo) {
	e.POST("/login", auth.Login)

	r := e.Group("/")

	r.Any("", handlers.PlaygroundHandler())
	r.Any("ws", handlers.PlaygroundWsHandler())

	r.Any("query", handlers.GraphqlHandler())
	r.Any("subscriptions", handlers.GraphqlWsHandler())
}
