{
  "canvas": {
    "version": "2.2.11",
    "width": 8000,
    "height": 8000,
    "scrollTop": -3314.8333333333335,
    "scrollLeft": -2984.6666666666665,
    "zoomLevel": 1,
    "show": {
      "tableComment": true,
      "columnComment": true,
      "columnDataType": true,
      "columnDefault": true,
      "columnAutoIncrement": false,
      "columnPrimaryKey": true,
      "columnUnique": false,
      "columnNotNull": true,
      "relationship": true
    },
    "database": "MySQL",
    "databaseName": "database",
    "canvasType": "ERD",
    "language": "GraphQL",
    "tableCase": "pascalCase",
    "columnCase": "camelCase",
    "highlightTheme": "VS2015",
    "bracketType": "none",
    "setting": {
      "relationshipDataTypeSync": true,
      "relationshipOptimization": false,
      "columnOrder": [
        "columnName",
        "columnDataType",
        "columnNotNull",
        "columnUnique",
        "columnAutoIncrement",
        "columnDefault",
        "columnComment"
      ]
    },
    "pluginSerializationMap": {}
  },
  "table": {
    "tables": [],
    "indexes": []
  },
  "memo": {
    "memos": []
  },
  "relationship": {
    "relationships": []
  }
}