# vrd config file

# input vuerd file path
input: vrd/input.vuerd.json

# debug mode prints information
debug: true

# support sqlite3, mysql, postgres
database: sqlite3

# ent config
ent:
  output: ./output
  package: app
  echo: true
  privacy: true
  privacy_node: false
  auth: true
  graphql:
    file_upload: true
    subscription: true
    relay_connection: true